:root {

  --basic-white: #FFFFFF;
  --basic-white-transparent: rgba(255, 255, 255, 0.9);
  --basic-turquoise: #81B3D2;
  --basic-light-grey: #EEEEEE;
  --basic-brown: #766357;
  --basic-brown-dark: #604E43;
  --basic-brown-darker: #503E33;
  --basic-black: #000000;
  --basic-black-text: #333333;
}


/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black-text);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-navigation {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

.site-navigation {
  list-style: none;
}

.main-navigation a,
.site-navigation a {
  color: var(--basic-black);
}

.main-navigation a:hover,
.site-navigation a:hover {
  color: var(--basic-turquoise);
}
.main-navigation a:focus,
.site-navigation a:focus {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.container h1 {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  font-weight: 700;
}

.container h2 {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black-text);
}

.feature-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
font-weight: 700;
font-size: 21px;
line-height: 21px;
}

.features-item-photo {
  color: var(--basic-white);
  background-color: var(--basic-turquoise);
}

.features-item-photo{
  color: var(--basic-white);
  background-color: var(--basic-turquoise);
}

.convenience  {
  background-color: var(--basic-white)

}

.convenience-item {
  list-style: none;
  text-align: center;
  color: var(--basic-black-text);
}

.features-item .tourist-features {
  background-color: var(--basic-light-grey);
}

.search-form {
  text-align: center;
}
.search-form h2 + p {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
}

.search-form .search-button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  vertical-align: middle;
  border: none;
}

.search-form .search-button:hover {

  background-color: var(--basic-brown-dark);
}

.search-form .search-button:focus {
  mix-blend-mode: normal;
  opacity: 0.3;
  background-color: var(--basic-brown-darker);
}



.page-footer {
  background-color: var(--basic-white-transparent)
}

.footer-contacts {
font-weight: 700;
font-size: 21px;
line-height: 26px;
color: var(--basic-black);
}

.footer-social li {
  list-style: none;
}



