:root {

  --basic-white: #FFFFFF;
  --basic-white-transparent: rgba(255, 255, 255, 0.9);
  --basic-turquoise: #81B3D2;
  --basic-turquoise-dark: #669EC0;
  --basic-turquise-darker: #5496BD;
  --basic-light-grey: #EEEEEE;
  --basic-brown: #766357;
  --basic-brown-dark: #604E43;
  --basic-brown-darker: #503E33;
  --basic-black: #000000;
  --basic-black-text: #333333;
  --basіс-grey-text: #666666;
  --rating-color: #F2F2F2;
  }


/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black-text);
  text-transform: uppercase;
  background-color: #888888 ;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font: inherit;
}
/* Main navigation */

.page-body {
  background-color: var(--basic-white);
  width: 1200px;
}

.main-navigation {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.site-navigation {
  list-style: none;
}

.site-navigation a{
  color: var(--basic-black);
}


.site-navigation a:hover,
.site-navigation a:focus
 {
  color: var(--basic-turquoise);
}

.site-navigation a:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.container h1 {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.container h2 {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black-text);
}

.features-list {
  list-style: none;
  text-align: center;
}

.features-item {
  text-align: center;
}

.features-item h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.number {
  line-height: 21px;
}

.features-item-photo{
  color: var(--basic-white);
  background-color: var(--basic-turquoise);
}

.convenience  {
  background-color: var(--basic-white);
}

.convenience-item {
  list-style: none;
  text-align: center;
  color: var(--basic-black-text);
}

.features-item.tourist-features {
  background-color: var(--basic-light-grey);

}

.search-form {
  text-align: center;
}

.search-form h2 + p {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
}

.search-form  .search-button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  vertical-align: middle;
  border: none;
}

.search-form .search-button:hover {
  background-color: var(--basic-brown-dark);
}

.search-form .search-button:focus {
  mix-blend-mode: normal;
  opacity: 0.3;
  background-color: var(--basic-brown-darker);
}

.found {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort, .sort-list {
  font-size: 12px;
  line-height: 18px;
}

.sort-list {
  list-style: none;
}
 .sort-item button {
   border: 0;
   background-color: transparent;
   opacity: 0.3;
   border-bottom: 1px dashed var(--basic-turquoise);
 }

 .sort-item button:hover,
 .sort-item button:focus {
   color: var(--basic-turquoise);
 }

 .sort-item button:active {
  border: 0;
  opacity: 1;
  color: var(--basic-black);
 }

 .up-button {
   background-color: transparent;
   border: 0;
 }

 .down-button {
  background-color: transparent;
  border: 0;
 }

 .hotels-list {
   list-style: none;
 }

 .hotel-name {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
 }

 .details-button {
   background: var(--basic-turquoise);
   font: inherit;
   font-weight: bold;
   border: 0px;
   padding: 3px 16px 3px 17px;
   color: var(--basic-white);
 }

 .details-button:hover,
 .details-button:focus {
   background-color: var(--basic-turquoise-dark);
 }

 .to-book-button {
  background: var(--basic-brown);
  font: inherit;
  font-weight: bold;
  border: 0px;
  padding: 3px 17px 3px 16px;
 }
 .to-book-button:hover,
 .to-book-button:focus {
   background-color: var(--basic-brown-dark);
 }

 .star-list {
   list-style: none;
 }

 .rating {
   background-color: var(--rating-color);
   color: var(--basіс-grey-text);
 }



.page-footer {
  background-color: var(--basic-white-transparent)
}

.footer-contacts {
font-weight: 700;
font-size: 21px;
line-height: 26px;
color: var(--basic-black);
}

.footer-social li {
  list-style: none;
}





