:root {

  --basic-white: #FFFFFF;
  --basic-white-transparent: rgba(255, 255, 255, 0.9);
  --basic-turquoise: #81B3D2;
  --basic-light-grey: #EEEEEE;
  --basic-brown: #766357;
  --basic-brown-dark: #604E43;
  --basic-brown-darker: #503E33;
  --basic-black: #000000;
  --basic-black-text: #333333;
  }


/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black-text);
  text-transform: uppercase;
  background-color: #888888 ;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.page-body {
  background-color: var(--basic-white);
}

.main-navigation {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.site-navigation {
  list-style: none;
}

.site-navigation a{
  color: var(--basic-black);
}


.site-navigation a:hover,
.site-navigation a:focus
 {
  color: var(--basic-turquoise);
}

.site-navigation a:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.container h1 {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.container h2 {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black-text);
}

.features-list {
  list-style: none;
  text-align: center;
}

.features-item {
  text-align: center;
}

.features-item h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.number {
  line-height: 21px;
}

.features-item-photo{
  color: var(--basic-white);
  background-color: var(--basic-turquoise);
}

.convenience  {
  background-color: var(--basic-white);
}

.convenience-item {
  list-style: none;
  text-align: center;
  color: var(--basic-black-text);
}

.features-item.tourist-features {
  background-color: var(--basic-light-grey);

}

.search-form {
  text-align: center;
}

.search-form h2 + p {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
}

.search-form  .search-button {
  font-weight: 700;
  font-size: 21px;
  font: "PT Sans";
  line-height: 26px;
  text-align: center;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  vertical-align: middle;
  border: none;
}

.search-form .search-button:hover {
  background-color: var(--basic-brown-dark);
}

.search-form .search-button:focus {
  mix-blend-mode: normal;
  opacity: 0.3;
  background-color: var(--basic-brown-darker);
}



.page-footer {
  background-color: var(--basic-white-transparent)
}

.footer-contacts {
font-weight: 700;
font-size: 21px;
line-height: 26px;
color: var(--basic-black);
}

.footer-social li {
  list-style: none;
}





